<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Here are all the restaurant</h1>
    </div>
  </div>
  <div class="row">
    <% @restaurants.each do  |restaurant| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <h3><%= restaurant.name %></h3>
          <p> <%= restaurant.address %></p>
          <p>Phone Number : <%= restaurant.phone_number %></p>
          <%= link_to "see details" , restaurant_path(restaurant) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
